@media screen and (min-width: 0px) and (max-width: 768px) {
  .social {
    display: none;
  }
  .topmenu {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .socialsm {
    display: block!important;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-control.right {
    right: -100px !important;
  }
  .carousel-control.left {
    left: -100px !important;
  }
  carousel-indicators {
    bottom: -100px !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .items #menu {
    font-size: 20px!important;
  }
}
@media screen and (min-width: 0px) and (max-width: 701px) {
  h2 {
    font-size: 40px!important;
  }
}
/*
main
*/
body {
  background: #fae9b5;
  background-image: linear-gradient(to top, #fae9b5, #fe9367, #8db7b3);
  background-size: 100%;
  color: black;
  background-repeat: repeat-y;
}
.space {
  height: 100px;
}
h1 {
  font-family: Kristen ITC, "arial black", arial;
  font-size: 75px;
  color: #000;
}
h2 {
  font-family: "arial black", arial;
  font-size: 100px;
  text-transform: uppercase;
}
.footer {
  background: #ff7a57;
}
.navmain {
  background: #ff7a57;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  height: 700px;
}
.social {
  position: absolute;
  height: 700px;
}
.slogan {
  margin-top: -20px;
}
.img-circle {
  width: 250px;
  height: 250px;
  background: #f06d06;
  border: 5px solid white;
}
#menu {
  text-transform: uppercase;
}
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #dd4e28;
  text-decoration: none;
}
.items {
  position: absolute;
  bottom: 0;
  left: 0;
}
.items #menu {
  color: #fff;
  font-family: "arial black";
  font-size: 30px;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
p {
  margin: 40px 20px 20px 20px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  top: 40%;
}
.socialsm {
  margin-top: -20px;
  display: none;
}
.socialsm a,
.socialsm a:visited {
  color: #dd4e28 !important;
}
.socialsm a:hover {
  color: white!important;
}
.info {
  font-size: 18px;
  font-weight: 400;
}
/*
 spray
*/
.soc-elem {
  margin: 5px 0 0 0;
  height: 73px;
  width: 233px;
  overflow: hidden;
}
.soc-elem:hover img {
  transition: 0.3s ease-in-out;
  transform: translateY(-73px);
}
/*
alter
*/
.navalter {
  background: #FF3399;
  padding: 20px;
}
.navalter a {
  color: white;
}
.alter #menu {
  color: #fff;
  font-family: "arial black";
  font-size: 30px;
  text-transform: uppercase;
}
